
<div class="row mb-1">
	<div class="d-flex gap-3">
		<label class="col-form-label">Min</label>
		<input class="form-control" type="number" step=1 @bind="Generator.Min" />
		<label class="col-form-label">Max</label>
		<input class="form-control" type="number" step=1 @bind="Generator.Max" />
	</div>
</div>

@code
{
	[Parameter]
	public DataManager DataManager { get; set; } = null!;
	[Parameter]
	public NameGenToolkit.RandomInteger Generator { get; set; } = null!;
}